.app {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.homePageContent {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
    min-height: 0;
    overflow-y: none;
    -webkit-overflow-scrolling: touch;
}

.footer {
    font-size: 0.9rem;
    color: #65728b;
    text-align: center;
    margin-top: 0.5rem;
}

@media screen and (max-width: 480px) {
    .homePageContent {
        margin: 0;
    }
}